
.header-auth {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.brand-name {
  font-size: 18px;
  font-weight: 600;
  color: #ff0000;
}

/* Main container to align left and right sections */
.content-chg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}


.left-section-chg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}

.illustration {
  width: 100%;
  max-width: 450px;
  height: auto;
}

/* Right section with login form */
.right-section-chg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.change-form {
  width: 100%;
  max-width: 400px;
}

.change-form h1 {
    text-align: center;
  font-size: 34px;
  margin-bottom: 1px;
  font-weight: 600;
}




.change-form p {
    text-align: center;
  font-size: 16px;
  color: #888;
  margin-bottom: 30px;
  margin-top: 1px;
}



.email-field-change {
  position: relative;
}

.email-field-change input {
  height: 48px;
  width: 100%;
  margin-top: 6px;
  padding-right: 40px; 
  font-size: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

input {

    font-family: "Poppins", sans-serif; 
    font-size: 14px !important;
    font-weight: 400; 
  }

input:focus {
  border-color: #ccc; 
  outline: none; 
}

input::placeholder {
    color: #afaeae; 
    opacity: 1; 
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }


.btn-changepswd {
  width: 106%;
  height: 56px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.back-login {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
}

.back-icon{
    margin-right: 10px;
    color: #5e5e5e;
}

.back-login a {
  color: #5e5e5e;
  text-decoration: none;
}
