.btn-icon-close-modal:focus{
  box-shadow: none !important;
  border-color: #ced4da !important;
}



  
  .product-info {
    display: flex;
    align-items: center;
  }
  
  .product-image {
    max-width: 80px;
    height: auto;
  }
  
  .product-details-transaksi {
    margin-left: 2.4rem; 
    text-align: start; 
  } 
  
  .product-name-transaksi {
    font-size: 1.2rem; 
    margin-bottom: 5px; 
  } 

  .product-price-transaksi {
    font-size: 16px; 
    color: #888; 
    margin-left: 0px;
    font-weight: 500;
  }

  .text-quantity {
    font-weight: 600;
    font-size: 28px;
  }



  .btn-plus-minus {
    width: 40px;
  height: 40px;
  background-color: white; 
  color: #333;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
  


   .btn-plus-minus:focus {
    outline: none; 
    border: none; 
  }

  .btn-batal-transaksi-modal {
    background-color: white;
    border: 1px solid #ff0000;
    font-weight: 500;
    width: 110px; 
  }

  .btn-batal-transaksi-modal:hover {
    background-color: white;
    border: 1px solid #ff0000;
  }

  .btn-batal-transaksi-modal:active {
    background-color: white;
    border: 1px solid #ff0000 !important;
  }

  .btn-simpan-transaksi-modal {
    background-color: #ff0000;
    color: white;
    font-weight: 500;
    width: 110px; 
  }

  .btn-simpan-transaksi-modal:hover {
    background-color: #ff0000;
    color: white;
  }

  .btn-simpan-transaksi-modal:active {
    background-color: #ff0000 !important;
    color: white !important;
    border: 1px solid #ff0000 !important;
  }





/*   
  .modal-footer button {
    width: 120px; 
    height: 45px;
    border-radius: 10px; 
    font-size: 16px;
  } */
