.btn-simpan-data-barang,
.btn-tambah-data-barang {
    background-color: #FF0000 !important;
    color: #FFFFFF !important;
    font-size: 18px !important;
    padding: 11.5px 0px !important;
    margin-top: 34px;
}

.card-data-barang-100vh {
    min-height: calc(100vh - 161px);
}

.content-fill-manajemen-data-barang-tidak-ada {
    min-height: calc(100vh - 338px);
}

.content-fill-manajemen-data-barang {
    min-height: calc(100vh - 433px);
    height: 1px;
    margin: 0px -20px;
    padding: 0px 14px 0px 23px;
}

.modal-content-dengan-100vh {
    height: calc(100vh - 56px);
}

.card-tambah-data-barang-untukform-overflow {
    overflow-y: auto;
    max-height: 400px;
}

.text-tidak-ada-barang,
.text-tidak-ada-barang-yang-dipilih {
    font-size: 18px;
    color: #CECECE;
}

.group-button-filter-kategori-barang {
    margin: 20px 0 35px 0;
}

.button-filter-kategori-barang {
    color: #FF0000 !important;
    border-color: #FF0000 !important;
    font-size: 15px !important;
    padding-top: 7.75px !important;
    padding-bottom: 7.75px !important;
    margin-right: 10px;
}

.button-filter-kategori-barang-active {
    color: #FFFFFF !important;
    border-width: 0px !important;
    background-color: #FF0000 !important;
    font-size: 15px !important;
    padding-top: 7.75px !important;
    padding-bottom: 7.75px !important;
    margin-right: 10px;
}

.card-body-data-barang,
.card-body-rincian-barang {
    padding: 23px !important;
}

.images-card-barang {
    padding: 13px 13px 13px 10px;
    width: 78px;
}

.button-edit-rincian-barang {
    background-color: #FFE6E6 !important;
    color: #FF0000 !important;
    padding: 5px 17.25px !important;
    margin-right: 10px;
}

.button-hapus-barang-dirincian-barang {
    background-color: #FF0000 !important;
    padding: 5px 8px !important;
}

.button-hapus-barang-lanjutan-dimodal {
    background-color: #FF0000 !important;
    font-size: 15px;
    padding: 8px 23.78px !important;
}

.button-batalkan-hapus-barang {
    font-size: 15px;
    padding: 7px 15px !important;
}

.form-check-input-tampilkanDiTransaksi-dan-pakaiStok:checked {
    background-color: #FF0000 !important;
    border-color: #FF0000 !important;
}

.class-diskon-persen-atau-rp {
    color: #303030 !important;
    background-color: #F2F4FA !important;
    border-color: #E6E8ED !important;
}

.btn-check:checked+.class-diskon-persen-atau-rp {
    background-color: #FF0000 !important;
    color: #FFFFFF !important;
    border-color: #FF0000 !important;
}