

.btn-icon-close-modal:focus{
  box-shadow: none !important;
  border-color: #ced4da !important;
}
  

  
  .text-akhiri-shift-twoe h6 {
    border-top: 1px solid rgb(196, 196, 196);
  }

  .text-shift-ptwoe {
    padding-top: 14px;
  }

  .text-akhiri-shift-one h6{
    font-weight: 500;
  }

  .text-akhiri-shift-twoe h6 {
    padding-top: 18px;
  }

  .text-shift-pone p {
    font-weight: 400;
    margin-top: 14px;
    font-size: 14px;
    color: #000000;
  }

  .text-shift-pone p {
    padding-top: 6px;
    text-align: start;
    color: #000000;
  }

  .text-shift-ptwoe p {
    font-weight: 600;
    font-size: 14px;
  }

  /* Form Styling */
  input.form-control-saldo, textarea.form-control-saldo {
    width: 60%;
    padding: 18px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 14px;

  }
  
  textarea.form-control-saldo {
    resize: none;
  }
  
  input.form-control-saldo:focus, textarea.form-control-saldo:focus {
    border-color: #ced4da;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }

.text-bottom-saldo p{
    margin-top: -13px;
    font-weight: 500;
    font-size: 13px;
    margin-left: 4px;
    color: #DC3636;
}

  input.form-control-catatan, textarea.form-control-catatan {
    width: 100%;
    padding: 15px;
    padding-bottom: 5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 14px;
  }
  
  textarea.form-control-catatan {
    resize: none;
  }
  
  input.form-control-catatan:focus, textarea.form-control-catatan:focus {
    border-color: #ced4da;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }

  
  .btn-akhiri-shift-merah {
    background-color: #ff0000;
    color: #ffffff;
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .btn-akhiri-shift-merah:hover {
    background-color: #ff0000 !important;
    color: #ffffff !important;
  }
  

  @media (min-width: 768px) {
    .modal-dialog {
      width: 605px;
    }
  
    .form-control-saldo {
      width: 60%;
    }
  
    .form-control-catatan {
      width: 100%;
      padding-bottom: 5rem;
    }
  }
  
  /* Tablet and Mobile */
  @media (max-width: 768px) {
    .modal-dialog {
      width: 92% !important;
      margin: 0 1rem;
    }
  
    .form-control-saldo {
      width: 100%;
      padding: 15px;
    }
  
    .form-control-catatan {
      width: 100%;
      padding: 15px;
      padding-bottom: 4rem;
    }
  
    .btn-akhiri-shift-merah {
      font-size: 14px;
      padding: 8px;
    }
  
    /* Adjust text and input for better readability */
    .text-akhiri-shift-one h6,
    .text-akhiri-shift-twoe h6,
    .text-shift-pone p {
      font-size: 14px;
    }
  
    .text-bottom-saldo p {
      font-size: 12px;
    }
  }